---
import BaseLayout from "../layouts/BaseLayout.astro";
import { sanity } from "../lib/sanity";

type ArticleListItem = {
  title: string;
  slug: string;
  excerpt?: string;
  publishedAt?: string;
};

const query = `*[_type=="article"] | order(publishedAt desc)[0...12]{
  title,
  "slug": slug.current,
  excerpt,
  publishedAt
}`;

const articles = await sanity.fetch<ArticleListItem[]>(query);
---

<BaseLayout title="RUTM">
  <h1>Latest</h1>

  <ul>
    {articles.map((a) => (
      <li>
        <a href={`/article/${a.slug}`}>{a.title}</a>
        {a.excerpt ? <p>{a.excerpt}</p> : null}
      </li>
    ))}
  </ul>
</BaseLayout>
