:root {
  --max: 1600px;
  --pad: 60px;
  --text-color: #0022ff;
  --bg-color: #fafafa;
  --text-font: "Helvetica";
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
}

a{text-decoration: none; color: var(--text-color)}

.site-header {
  position: sticky;
  top: 0;
  background: var(--bg-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.nav {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px var(--pad);
  display: flex;
  justify-content: center; /* center the links container */
  box-sizing: border-box;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  border-bottom: 5px solid var(--text-color);
}

.nav__links {
  display: flex;
  width: 100%; /* <-- key */
  justify-content: space-between; /* <-- spread items */
  gap: 0; /* space-between replaces gap */
  flex-wrap: nowrap; /* optional: prevents wrapping */
}

.nav__link {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  text-transform: uppercase;
}

.nav__link:hover {
  opacity: 1;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.nav__link[aria-current="page"] {
  opacity: 1;
  text-decoration: underline;
}

hr {
  color: var(--text-color);
  border: none;
  background-color: var(--text-color);
  height: 4px;
  margin-top: 15px;
  margin-bottom: 0;
}
